{% extends "base.html" %} {% load static %} {% block content %}
<main>
  
  <div class="container-fluid background-image">
    <div class="row text-center">
      <div class="col-12 col-md-6">
        <div class="rectangle-text mx-auto">
          <p class="newsletter-text font-weight-bold">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            vehicula metus auctor, vulputate sapien eget, tincidunt dui. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula
            metus auctor, vulputate sapien eget, tincidunt dui.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="circle-text mx-auto">
          <p class="newsletter-text font-weight-bold">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            vehicula metus auctor, vulputate sapien eget, tincidunt dui.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
