{% extends "base.html" %} {% load static %}
<!-- block css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

<!-- block content -->

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <hr />
      <h2 class="mb-4 text-center">Thank You!</h2>
      <hr />
      <p>
        Your order information is below. A confirmation email will be sent to
        <strong>{{ order.email }}</strong>.
      </p>
    </div>
  </div>
  <div class="row m-2 m-sm-0 my-sm-3">
    <div class="col-0 col-md-2"></div>
    <div class="col-0 col-sm-8">
      <div class="row"></div>

      <div class="col-0 col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}