html {
    height: 100%
}


/* .background-image {
    background: url('/media/Background-poker-cards.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
} */

.callout {
    padding: 25px;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('/media/playing-cards.jpg') no-repeat center center;
    min-height: 200px;
}

.circle-text {
    width: 300px;
    height: 300px;
    border: 5px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/media/aces.jpg') center/cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rectangle-text {
    width: 90%;
    min-height: 350px;
    padding: 5%;
    border: 5px solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/media/aces.jpg') center/cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newsletter-text {
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 450px) {
    .circle-text {
        width: 250px;
        height: 250px;
        border: 5px solid red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('/media/aces.jpg') center/cover;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}