{% extends 'base.html' %}
{% load static %}
{% block callout %}
<h1>Snap Call Coaching</h1>
{% endblock %}
{% block content %}
<div class="black-backdrop container-fluid">
    <div class="row m-2 m-sm-0 my-sm-3">
      <div class="col-0 col-md-2"></div>
      <div class="col-0 col-sm-8">
        <div class="row">
          <div class="col">
            <p class="lead my-5">The page you are looking for isn't available</p>
          <a
            href="{% url 'home' %}"
            class="btn btn-secondary m-4"
          >
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Return Home</span>
          </a>
        </div>
        <div class="col-0 col-md-2"></div>
      </div>
    </div>
    </div>
</div>
{% endblock %}