{% extends "base.html" %} {% load static %} {% block content %}
<div class="black-backdrop container">
  <div class="row m-2 m-sm-0 my-sm-3">
    <div class="col-12 col-lg-3">
        {% if has_purchased == True and has_reviewed != True %}
        <div class="testimonials p-2 m-2 my-4">
            <h3>Leave a testimonial as to what you thought of this course!</h3>
            <hr>
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form |crispy}}
                <div class="mb-5">
                    <button class="btn btn-secondary btn-sm m-1" type="submit">Post Review</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-lg-6">
      <div class="m-3">
        <h1 class="font-weight-bold">{{ course.name }}</h1>
        <hr />
        <h2 class="font-weight-light">{{ course.description }}</h2>
        <hr />
        <p class="font-weight-light">{{ course.content | safe }}</p>
        <p>Course Coaches:</p>
        <ul>
          {% for coach in course.coached_courses.all %}
          <li><a href="{% url 'coach_bios' %}">{{ coach.name }}</a></li>
          {% endfor %}
        </ul>
        <form
          class="form"
          action="{% url 'add_to_bag' course.id %}"
          method="POST"
        >
          {% csrf_token %}

          <div class="col-12 mt-5 px-0">
            {% if has_purchased == True %}
            <a href="{% url 'course_contents' %}" class="btn btn-secondary btn-sm m-1">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Course already purchased, view our other courses here.</span>
            </a>
            {% else %}
            <a
              href="{% url 'course_contents' %}"
              class="btn btn-secondary btn-sm m-1"
            >
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Back to courses</span>
            </a>
            <input
              type="submit"
              class="btn btn-warning btn-sm m-1"
              value="Purchase now for €{{ course.price }}"
            />
            {% endif %}
          </div>
          <input
            type="hidden"
            name="redirect_url"
            value="{% url 'view_bag' %}"
          />
        </form>
        {% if request.user.is_superuser%}
        <div>
            <a class="btn btn-info btn-sm m-1" href="{% url 'edit_course' course.id %}" role="button">Edit Course</a>
            <a class="btn btn-danger btn-sm m-1" href="{% url 'delete_confirmation' course.id %}" role="button">Delete Course</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg-3">
        {% for testimonial in testimonials %}
        <div class="testimonials p-2 m-2 my-4">
            <p class="font-italic">{{ testimonial.review }}</p>
            <p class="font-weight-bold">- {{ testimonial.name }}</p>
            <p class="text-muted">{{ testimonial.created_on }}</p>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
