{% extends "base.html" %} {% load static %}
<!-- block tags -->
{% block callout %}
<h1>Learn How to Play Poker</h1>
<p>
    Below are online poker courses for all levels whether you need poker tips for beginners or you want to learn to play
    poker professionally.
</p>
{% endblock %}
{% block content %}

<!-- block tags -->

{% for course in courses %}
<div class="container-fluid">
  <div class="row m-2 m-sm-0 my-sm-3">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-sm-8 image-container my-3">
      {% if "placeholder" in course.featured_image.url %}
      <img src="{{ MEDIA_URL }}poker-table.jpg" alt="Online Poker Course Image">
      {% else %}
      <img src=" {{ course.featured_image.url }}" alt="Online Poker Course Image">
      {% endif %}
      <div class="overlay m-3">
        <h2 class="font-weight-bold pr-2">{{ course.name }}</h2>
        <p class="font-weight-light pr-2">{{ course.description }}</p>
        <p class="font-italic">€{{ course.price }}</p>
        <a
          class="btn btn-secondary btn-sm m-1"
          href="{% url 'course_detail' course=course.name %}"
          role="button"
          >View Course Contents</a
        >
        {% if request.user.is_superuser%}

            <a class="btn btn-info btn-sm m-1" href="{% url 'edit_course' course.id %}" role="button">Edit Course</a>
            <a class="btn btn-danger btn-sm m-1" href="{% url 'delete_confirmation' course.id %}" role="button">Delete Course</a>

        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
</div>
{% endfor %}

<!-- endblock tags -->
{% endblock %}
