{% extends "base.html" %} {% load static %} {% block content %}
<div class="course-detail container-fluid">
  <div class="row m-2 m-sm-0 my-sm-3">
    <div class="col-0 col-md-2"></div>
    <div class="col-0 col-sm-8">
      <div class="m-3">
        <h1 class="font-weight-bold">{{ course.name }}</h1>
        <hr />
        <h2 class="font-weight-light">{{ course.description }}</h2>
        <hr />
        <p class="font-weight-light">{{ course.content | safe }}</p>
        <p>Course Coaches:</p>
        <ul>
          {% for coach in course.coach_set.all %}
          <li><a href="#">{{ coach.name }}</a></li>
          {% endfor %}
        </ul>
        <a class="btn btn-warning m-1" href="#" role="button"
          >Purchase now for €{{ course.price }}</a
        >
      </div>
    </div>
    <div class="col-0 col-md-2"></div>
  </div>
</div>

{% endblock %}
