{% extends "base.html" %} {% load static %}
<!-- block tags -->
{% block content %}

<!-- block tags -->

{% for course in courses %}
<div class="row">
  <div class="col-md-6 col-lg-4 p-3">
    <div class="card h-100">
      <img class="card-img-top" src="/media/aces.jpg" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ course.name }}</h5>
        <p class="card-text">{{ course.description }}</p>
        <p class="card-text">{{ course.content }}</p>
        <p class="card-text">€{{ course.price }}</p>
        <p class="card-text">Coaches on this course include:</p>
        <ul>
          {% for coach in course.coach_set.all %}
          <li>{{ coach.name }}</li>
          {% endfor %}
        </ul>
        <a
          class="btn btn-outline-secondary btn-sm"
          href="{% url 'course_detail' course=course.name %}"
          role="button"
          >Read more...</a
        >
        >
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- endblock tags -->
{% endblock %}
