{% extends "base.html" %} {% load static %}
<!-- block tags -->
{% block content %}

<!-- block tags -->

{% for course in courses %}
<div class="container-fluid">
  <div class="row m-2 m-sm-0 my-sm-3">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-sm-8 image-container">
      {% if "placeholder" in course.featured_image.url %}
      <img src="{{ MEDIA_URL }}poker-table.jpg" alt="Poker Course Image" />
      {% else %}
      <img src=" {{ course.featured_image.url }}" alt="Poker Course Image" />
      {% endif %}
      <div class="overlay m-3">
        <h1 class="font-weight-bold">{{ course.name }}</h1>
        <p class="font-weight-light">{{ course.description }}</p>
        <a
          class="btn btn-primary m-1"
          href="{% url 'course_detail' course=course.name %}"
          role="button"
          >View Course Contents</a
        >
        <a class="btn btn-warning m-1" href="#" role="button"
          >Purchase now for €{{ course.price }}</a
        >
        {% if request.user.is_superuser%}
        <small class="ml-3">
            <a class="btn btn-info m-1" href="{% url 'edit_course' course.id %}" role="button">Edit Course</a>
            <a class="btn btn-danger m-1" href="{% url 'delete_course' course.id %}" role="button">Delete Course</a>
        </small>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
</div>
{% endfor %}

<!-- endblock tags -->
{% endblock %}
