{% extends "base.html" %} {% load static %} {% block content %}
<div class="black-backdrop container-fluid">
    <div class="row m-2 m-sm-0 my-sm-3">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="m-3 text-center">
                <h2>Are you sure you want to delete the {{ course.name }} course?</h2>
                <hr>
                <a class="btn btn-secondary btn-sm m-1" href="{% url 'course_contents' %}" role="button">Cancel</a>
                <a class="btn btn-danger btn-sm m-1" href="{% url 'delete_course' course.id %}" role="button">Delete Course</a>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
</div>


{% endblock %}