{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% endblock %} {% block extra_meta %} {% endblock %} {% block corecss %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %} {% block extra_css %} {% endblock %} {% block corejs %}
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/e8b7e1c327.js"
      crossorigin="anonymous"
    ></script>
    {% endblock %} {% block extra_js %} {% endblock %}

    <title>Snap Call Coaching {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Snap Call Coaching</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'course_contents' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'coach_bios' %}">Our Team</a>
          </li>
          <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Coaches
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Beginner</a>
                        <a class="dropdown-item" href="#">Intermediate</a>
                        <a class="dropdown-item" href="#">Pro</a>
                </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <header>
      <div class="container-fluid mt-5 callout">
        <section>
          <h1>Welcome to Snap Call Coaching</h1>
          <p class="callout-paragraph">
            Your one stop shop for all your poker needs, whether you are a
            seasoned pro or complete novice.
          </p>
        </section>
      </div>
      <hr />
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %} {% block page_header %} {% endblock %}
    <!-- block tags -->
    {% block content %} {% endblock %} {% block postloadjs %} {% endblock %}
    <footer class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <p>&copy; 2023 Snap Call Coaching. All rights reserved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <a
            href="https://www.privacypolicygenerator.info/live.php?token=UHfEmPw7yIozL7qH9gdgVNN84sUBTPJh"
            aria-label="Home"
            class="privacy-policy"
            >View our privacy policy</a
          >
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4">
          <a href="" target="_blank" aria-label="Facebook"
            ><i class="fa-brands fa-facebook footer-icon"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
