{% extends "base.html" %} {% load static %}
<!-- block tags -->
{% block content %}

<!-- block tags -->
<div class="row">
  {% for coach in coaches %}
  <div class="col-12 col-sm-6 col-lg-4 p-3">
    <div class="row coach-profile">
        <div class="col-12 col-md-6 coach-picture">
            <img src="/media/aces.jpg" alt="Profile Picture">
        </div>
        <div class="col-12 col-md-6 coach-details">
            <h2>{{ coach.name }}</h2>
        </div>
        <div class="row">
        <div class="col-12 coach-details">
            <p>{{ coach.biography| safe }}</p>
            <p>{{ coach.accolades| safe }}</p>
            <p>Teaches on the following courses:</p>
            {% for course in coach.courses.all %}
            <li><a href="{% url 'course_detail' course=course.name %}">{{ course.name }}</a></li>
            {% endfor %}
        </div>
        </div>
    </div>
    <!-- <div class="card h-100">
      <img class="card-img-top" src="/media/aces.jpg" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ coach.name }}</h5>
        <p class="card-text">{{ coach.biography| safe }}</p>
        <p class="card-text">{{ coach.accolades| safe }}</p>
        {% for course in coach.courses.all %}
        <li><a href="{% url 'course_detail' course=course.name %}">{{ course.name }}</a></li>
        {% endfor %}
      </div>
    </div> -->
  </div>
  {% endfor %}
</div>
<!-- endblock tags -->
{% endblock %}
